<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Vue start</title>
    <style>
        .circle {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 1px solid black;
            display: inline-block;
            margin: 40px;
        }

        .red {
            background-color: red;
        }

        .blue {
            background-color: blue;
        }

        .green {
            background-color: green;
        }

        .red.blue {
            background-color: gold;
        }
    </style>
</head>
<body>
<!---->
<h1>Interpolation</h1>
<div id="app1">
    <input type="text" v-on:input="changeTitle"/>
    <h3>Hello {{ title }}</h3>
    <p>Summ: {{ 17 + 6 }}</p>
    <p>{{ getValue(60) }}</p>
    <p>if statement: {{ isOk ? 'OK' : 'not OK' }}</p>
    <p>
        function:
        {{
        string
        .split('')
        .reverse()
        .join('')
        }}
    </p>
</div>
<hr/>
<!---->
<h1>Dynamical attributes</h1>
<div id="app2">
    <h3><a v-bind:href="url" target="_blank">Google</a></h3>
</div>
<hr/>
<!---->
<h1>HTML layout</h1>
<div id="app3"><h3 v-html="elem"></h3></div>
<hr/>
<!---->
<h1>Events</h1>
<div id="app4">
    <h3>Counter = {{ counter }}</h3>
    <button v-on:click="addCounter">+ 1</button>
    <h3 v-on:mouseover="onHover">Counter 2 = {{ counter2 }}</h3>
    <button v-on:click="counter2++">+ 1</button>
</div>
<hr/>
<!---->
<h1>Transferring parameters to methods</h1>
<div id="app5">
    <h3>Counter = {{ counter }}</h3>
    <button v-on:click="riseCounter(5, $event)">+ 5</button>
    <button v-on:click="riseCounter(10, $event)">+ 10</button>
</div>
<hr/>
<!---->
<h1>Events modificators</h1>
<div id="app6">
    <h3>
        <a v-on:click.prevent="" href="http://google.com" target="_blank"
        >Google</a
        >
    </h3>
    <h3 v-on:mousemove="handleMouseMove">
        X: {{ x }} / Y: {{ y }} <span v-on:mousemove.stop="">Don't change</span>
    </h3>
    <input type="text" v-on:keyup.y="alertValue"/>
    <input type="text" v-on:keyup.enter.space="alertValue"/>
</div>
<hr/>
<!---->
<h1>Links for Directives</h1>
<div id="app7">
    <h4><a :href="url" target="_blank">Link</a></h4>
    <h4>Counter: {{ counter }}</h4>
    <button @click="counter++">Rise</button>
</div>
<hr/>
<!---->
<h1>Model for work with forms</h1>
<div id="app8">
    <input type="text" v-model="inputValue"/>
    <input type="text" v-model.lazy="inputValue"/>
    <p>{{ inputValue }}</p>
</div>
<hr/>
<!---->
<h1>Work with styles classes</h1>
<div id="app9">
    <div
            class="circle"
            @click="isActive = !isActive"
            :class="{'red': isActive, 'green': !isActive}"
    ></div>
    <div class="circle" :class="color"></div>
    <input type="text" v-model="color"/>
    <div class="circle" :class="[color, {'red': isActive}]"></div>
    <div class="circle" :class="getCssClasses"></div>
</div>
<hr/>
<!---->
<h1>Work with inline styles</h1>
<div id="app10">
    <div class="circle" :style="{'background-color': color, 'border': border}"></div>
    <div class="circle" :style="circleStyles"></div>
    <div class="circle" :style="[circleStyles, {'box-shadow': '3px 3px 4px 2px black'}]"></div>
    <input type="text" v-model="color">
    <input type="text" v-model="border">
</div>
<hr>
<!---->
<h1>Show and hide elements</h1>
<div id="app11">
    <h2 v-if="isVisible">I'm Visible</h2>
    <h2 v-else>I'm hidden by v-else</h2>
    <h2 v-if="!isVisible">I'm hidden</h2>
    <div>
        <button @click="isVisible = !isVisible">Toggle</button>
    </div>
    <h2 v-show="isVisible">I'm Visible</h2>
    <h2 v-show="!isVisible">I'm hidden</h2>
    <div>
        <button @click="isVisible = !isVisible">Toggle</button>
    </div>
    <h2 v-if="type === 'a'">A</h2>
    <h2 v-else-if="type === 'b'">B</h2>
    <h2 v-else-if="type === 'c'">C</h2>
    <h2 v-else>Not match</h2>
    <div>
        <input type="text" v-model="type">
    </div>
    <template v-if="isVisible">
        <h3>I'm title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </template>
    <template v-else>
        <h3 style="color: red">I'm title</h3>
        <p style="color: blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </template>
</div>
<hr>
<!---->
<h1>Work with lists</h1>
<div id="app12">
    <ul>
        <li v-for="(item, index) of people">
            {{index + 1}} -> name: {{item.name}}, age: {{item.age}}
        </li>
    </ul>
    <p>==================================================</p>
    <ul v-for="user of users">
        <li v-for="(value, key, index) in user">
            <b>{{key}}</b> => {{value}} -> <em>{{index + 1}}</em>
        </li>
    </ul>
    <p>==================================================</p>
    <ol>
        <li v-for="num of 10">{{num}}</li>
    </ol>
</div>
<hr>
<!---->
<h1>Optimizing with computed</h1>
<div id="app13">
    <h3>{{counter}} / {{counter2}}</h3>
    <h4>Result: {{result()}}</h4>
    <h4>Computed result: {{computedResult}}</h4>
    <button @click="add">Add</button>
    <button @click="sub">Sub</button>
    <button @click="counter2++">Add counter 2</button>
</div>
<hr>
<!---->
<h1>Watching changes with watch</h1>
<div id="app14">
    <h3>{{counter}} / {{counter2}}</h3>
    <h4>Result: {{result()}}</h4>
    <h4>Computed result: {{computedResult}}</h4>
    <button @click="add">Add</button>
    <button @click="sub">Sub</button>
    <button @click="counter2++">Add counter 2</button>
</div>
<hr>
<!---->
<h1>Binding different applications. Instance Vue</h1>
<div id="app15-1">
    <h3> {{title}} </h3>
    <h4>{{newField}}</h4>
    <p>
        <button @click="title = 'Updated Title'">
            Update title
        </button>
    </p>
</div>
---------------------------
<div id="app15-2">
    <h3> {{title}} </h3>
    <p>
        <button @click="title = 'Updated Title'">
            Update title
        </button>
        <button @click="updateFirstTitle">
            Update title #app15-1
        </button>
    </p>
</div>
<hr>
<!---->
<h1>Access to DOM elements</h1>
<div id="app16">
    <h3 ref="heading">{{ title }}</h3>
    <button @click="updateTitle">Update title</button>
</div>
<hr>
<!---->
<h1>Property template</h1>
<div id="app17"></div>
<hr>
<!---->
<h1>Live Cycle</h1>
<div id="app18">
    <h2>{{ title }}</h2>
    <button @click="title = 'Changed Title'">Change</button>
    <button @click="doDestroy">Destroy</button>
</div>
<hr>
<!---->
<h1>Components</h1>
<div id="app19">
    <my-counter v-for="c of 5"></my-counter>
</div>
<hr>
<!---->
<h1>Components registration</h1>
<div id="app20-1">
    <my-counter></my-counter>
</div>

<div id="app20-2">
    <my-counter></my-counter>
</div>

<script src="vue.js"></script>
<script>



    /* Interpolation */
    new Vue({
        el: '#app1',
        data: {
            title: 'Vue',
            isOk: false,
            string: 'my name is Vladimir'
        },
        methods: {
            changeTitle: function (event) {
                this.title = event.target.value;
            },
            getValue: function (a) {
                return a + 25;
            }
        }
    });

    /* Dynamical attributes */
    new Vue({
        el: '#app2',
        data: {
            url: 'http://google.com'
        },
        methods: {}
    });

    /* HTML layout */
    new Vue({
        el: '#app3',
        data: {
            elem: '<a href="http://google.com" target="_blank">Google</a>'
        },
        methods: {}
    });

    /* Events */
    new Vue({
        el: '#app4',
        data: {
            counter: 0,
            counter2: 0
        },
        methods: {
            addCounter: function () {
                this.counter++;
            },
            onHover: function (event) {
                event.target.style.color = 'green';
            }
        }
    });

    /* Transferring parameters to methods */
    new Vue({
        el: '#app5',
        data: {
            counter: 0
        },
        methods: {
            riseCounter: function (a, event) {
                this.counter += a;
                if (a === 5) {
                    event.target.style.color = 'blue';
                } else if (a === 10) {
                    event.target.style.color = 'red';
                }
            }
        }
    });

    /* Events modificators */
    new Vue({
        el: '#app6',
        data: {
            x: 0,
            y: 0
        },
        methods: {
            handleMouseMove: function (ev) {
                this.x = ev.clientX;
                this.y = ev.clientY;
            },
            alertValue: function (ev) {
                alert(ev.target.value);
            }
        }
    });

    /* Links for Directives */
    new Vue({
        el: '#app7',
        data: {
            url: 'http://google.com',
            counter: 1
        },
        methods: {}
    });

    /* Model for work with forms */
    new Vue({
        el: '#app8',
        data: {
            inputValue: 'initialValue'
        },
        methods: {}
    });

    /* Work with styles classes */
    new Vue({
        el: '#app9',
        data: {
            isActive: false,
            color: 'blue'
        },
        computed: {
            getCssClasses: function () {
                return this.isActive ? 'red' : 'green';
            }
        },
        methods: {}
    });

    /* work with inline styles */
    new Vue({
        el: '#app10',
        data: {
            color: 'gold',
            border: '1px solid brown'
        },
        computed: {
            circleStyles: function () {
                return {
                    'background-color': this.color, 'border': this.border
                };
            }
        },
        methods: {}
    });

    /* Show and hide elements */
    new Vue({
        el: '#app11',
        data: {
            isVisible: true,
            type: 'a'
        },
        computed: {},
        methods: {}
    });

    /* Work with lists */
    new Vue({
        el: '#app12',
        data: {
            people: [
                {
                    name: 'John',
                    age: 40
                },
                {
                    name: 'Bob',
                    age: 30
                },
                {
                    name: 'Ronald',
                    age: 35
                }
            ],
            users: [
                {
                    name: 'Tom',
                    age: 22
                },
                {
                    name: 'Bob',
                    age: 31
                },
                {
                    name: 'Sam'
                    , age: 28
                }
            ]
        },
        computed: {},
        methods: {}
    });

    /* Optimizing with computed */
    new Vue({
        el: '#app13',
        data: {
            counter: 0,
            counter2: 0
        },
        computed: {
            computedResult: function () {
                console.log('computed result was called');
                return this.counter > 3 ? 'More than 3' : 'Less than 3';
            }
        },
        methods: {
            add: function () {
                this.counter++;
            },
            sub: function () {
                this.counter--;
            },
            result: function () {
                console.log('result was called');
                return this.counter > 3 ? 'More than 3' : 'Less than 3';
            }
        }
    });

    /* Watching changes with watch */
    new Vue({
        el: '#app14',
        data: {
            counter: 0,
            counter2: 0
        },
        computed: {
            computedResult: function () {
                console.log('computed result was called');
                return this.counter > 3 ? 'More than 3' : 'Less than 3';
            }
        },
        methods: {
            add: function () {
                this.counter++;
            },
            sub: function () {
                this.counter--;
            },
            result: function () {
                console.log('result was called');
                return this.counter > 3 ? 'More than 3' : 'Less than 3';
            }
        },
        watch: {
            counter: function (val) {
                console.log('counter was changed => ', val);
            },
            counter2: function (val) {
                console.log('counter2 was changed => ', val);
            }
        }
    });

    /* Binding different applications. Instance Vue */
    var vue1 = new Vue({
        el: '#app15-1',
        data: {
            title: 'Hello, I\'m Vue #app15-1'
        },
        computed: {},
        methods: {
            alertFast: function () {
                alert('I\'m from ' + this.title);
            }
        }
    });
    vue1.newField = 'random string'; // not works
    var vue2 = new Vue({
        el: '#app15-2',
        data: {
            title: 'Hello, I\'m Vue #app15-2'
        },
        computed: {},
        methods: {
            updateFirstTitle: function () {
                vue1.title = 'Updated title from #app15-2';
                // console.log(vue2);
                vue1.newField = 'New field from #app15-2'; // works
                setTimeout(function () {
                    vue1.alertFast();
                }, 1000);
                setTimeout(function () {
                    vue1.alertFast.apply(this); // context was not changed
                }, 2000);
            }
        }
    });

    /* Access to DOM elements */
    new Vue({
        el: '#app16',
        data: {
            title: 'Hello, I\'m Vue'
        },
        computed: {},
        methods: {
            updateTitle: function () {
                this.title = 'Updated title';
                this.$refs.heading.style.color = 'red';
                console.log(this.$refs.heading);
            }
        }
    });

    /* Property template */
    var vue17 = new Vue({
        data: {
            title: 'Hello, I\'m Vue'
        },
        template: '<div><h3>{{title}}</h3><p>Hello, P</p></div>',
        computed: {},
        methods: {}
    });
    vue17.$mount('#app17');

    /* Live Cycle */
    new Vue({
        el: '#app18',
        data: {
            title: 'Lesson about LiveCycle of instance Vue'
        },
        computed: {},
        methods: {
            doDestroy: function () {
                this.$destroy();
            }
        },
        beforeCreate: function () {
            console.log('before create ' + Date.now());
        },
        created: function () {
            console.log('created ' + Date.now());
        },
        beforeMount: function () {
            console.log('before mount ' + Date.now());
        },
        mounted: function () {
            console.log('mounted ' + Date.now());
        },
        beforeUpdate: function () {
            console.log('before update ' + Date.now());
        },
        updated: function () {
            console.log('updated ' + Date.now());
        },
        beforeDestroy: function () {
            console.log('before destroy ' + Date.now());
        },
        destroyed: function () {
            console.log('destroyed ' + Date.now());
        }
    });

    /* Components */
    Vue.component('my-counter', {
        template: `
            <div style="border: 1px solid black; padding: 10px">
                <h3>Counter: {{counter}}</h3>
                <button @click="add">Add 1 to counter</button>
            </div>
        `,
        data: function () {
            return {
                counter: 0
            };
        },
        methods: {
            add: function () {
                this.counter++;
            }
        }
    });
    new Vue({
        el: '#app19',
    });

    /* Registration of components */
    var component = {
        template: `
            <div style="border: 1px solid black; padding: 10px">
                <h3>Counter: {{counter}}</h3>
                <button @click="add">Add 1 to counter</button>
            </div>
        `,
        data: function () {
            return {
                counter: 0
            };
        },
        methods: {
            add: function () {
                this.counter++;
            }
        }
    };
    var component2 = {
        template: `
        <div style="border: 1px solid red; padding: 12px; background: lightblue">
        <h3>Counter: {{counter}}</h3>
                <button @click="add">Add 1 to counter</button>
        </div>
        `,
        data: function () {
            return {
                counter: 4
            };
        },
        methods: {
            add: function () {
                this.counter++;
            }
        }
    };
    new Vue({
        el: '#app20-1',
        components: {
            'my-counter': component
        }
    });
    new Vue({
        el: '#app20-2',
        components: {
            'my-counter': component2
        }
    });

</script>
</body>
</html>
